/*
//////////////////////////////////////////////////////////////////////////////////////////
//										                                            	
// Project:	 BLOOD_BANK - Management System                                          	                            
//		                                                                                
// File:  main.css             							                                    
//											                                            
// Version: 1.0										                                    
//										                                            	
// Description:                                                                        	
//											                                            
//		      A Simple Blood Bank Mangement System made in Raw PHP                               							                
//											                                            
//											                                            
//											                                            
//											                                            
// Author: Ami Bappy [amibappy77@gmail.com]						                        
//                                                                                      
// Github: https://github.com/amibappy                                                 
//                                                                                     
//        										                                        
//  .______       .___      .______   .______   ____.  .____ 				          
//  |   _  \      /   \     |   _  \  |   _  \  \   \  /   / 				            
//  |  |_)  |    /  ^  \    |  |_)  | |  |_)  |  \   \/   /  				            
//  |   _  <    /  /_\  \   |   ___/  |   ___/    \_    _/   				            
//  |  |_)  |  /  _____  \  |  |      |  |          |  |     				           
//  |______/  /__/     \__\ | _|      | _|          |__|     				           
//                                                       				               
//											                                            
//											                                            
//////////////////////////////////////////////////////////////////////////////////////////
//											                                            
// Copyright (c) 2017 Bappy [amibappy77@gmail.com]					                    
// All Rights Reserved.									                                
//											                                            
//////////////////////////////////////////////////////////////////////////////////////////
//											                                            
// Unauthorized copying of this file, via any medium is strictly prohibited	            
// Proprietary and confidential								                            
//											                                           
//////////////////////////////////////////////////////////////////////////////////////////
//											                                           
// DO NOT REMOVE THIS AREA                                                              
//                                                                                      
////////////////////////////////////////////////////////////////////////////////////////// 
*/




/*
* === RESET === *
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-size: 13px;
    font-family: Montserrat;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}


/*
* === Tables === *
*/

.menu-title {
    display: block;
    font-size: 45px;
    color: Black;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    padding: 15px;
}



.tbls {
    margin-left: 25px;
    margin-top: 25px;
}

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px;
    border-collapse: collapse; 
    border-spacing: 0;
    line-height: 30px;
}

td, th {
    border: 1px solid #e8e8e8; /* No more visible border */
    height: 30px;
    transition: all 0.3s;  /* Simple transition for hover effect */
    padding: 7px;
}

th {
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #efefef; }  

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #d3d6be; } 

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */



#edit {
    background: #918f8f;
    padding: 7px 15px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

#delete {
    background: #c14747;
    padding: 7px 15px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

#warning {
    background: red;
    padding: 15px 25px;
    width: 160px;
    margin: 0 auto;
    color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#failed {
    display: block;
    background: red;
    padding: 15px 25px;
    width: 160px;
    margin: 0 auto;
    color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}



/*
* === Home === *
*/
.head-section {
    width: 1279px;
    background: #ba2916;
    padding: 35px;
}
#heading {
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

#mini-section {
    widows: 1349px;
    background: #ba2916;
    border-top: 1px dotted white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.header-list {
    float: right;
}

.header-list li {
    float: left;
    text-align: center;
    width: 90px;
    padding: 11px;
    height: 20px;
    border-left: 1px dotted white;
}

.header-list li a {
    text-decoration: none;
    color: white;
    display: block;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    transition: all .5s ease-in;
}

.header-list li:hover {
    background: #db4843;
}


/*
* === sidebar === *
*/
.sidebar {
    float: left;
    width: 275px;
}

.main-nav {
    text-align: center;
}

.main-nav li {
    display: block;
    width: 275px;
    height: 115px;
    border: 1px dotted black;
    padding-top: 15px;
    transition: all .5s ease-in;
}
.main-nav li:hover {
    background: #efdeb2;
}
.main-nav a {
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}
.main-nav li img {
    height: 60px;
    width: 60px;
}
.main-nav li p {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
}


/*
* === Dashboard Section === *
*/
#dashboard-section {
    float: left;
    width: 1000px;
    margin-left: 25px;
    margin-top: 15px;
}

#dashboardlist {
    width: 1000px;
    padding: 10px;
    position: relative;
}
#dashboardlist li {
    float: left;
    text-align: center;
    background: #e0cf9d;
    margin-right: 20px;
    padding: 35px;
    border-radius: 11px;
    margin-bottom: 30px;
    transition: all .5s ease-out;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3)
}
#dashboardlist li:hover {
    background: #c9b16e;
}
#dashboardlist li img {
    height: 150px;
    width: 150px;
}
#dashboardlist li p {
    font-size: 18px;
    margin-top: 15px;
}
.dash {
    display: block;
    color: #424242;
    font-weight: bold;
    font-size: 55px;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    margin-top: 15px;
}

.dashboard-links {
    width: 700px;
    margin-left: 15px;
    position: relative;
    top: 25px;
}

.hlink {
    float: left;
    background: #d83e3e;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 18px 35px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: all .5s ease-in;
}
.hlink:hover {
    background: #a53838;
}


/*
* === Donor === *
*/

.donor-section {
    float: left;
}
.cat-link {
    margin-left: 15px;
}

#add-donor-form {
    float: left;
    margin-top: 65px;
    width: 500px;
}
.form-field {
    width: 100%;
    padding: 15px;
}
.form-text {
    padding: 10px 0px;
}
#submit {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: #e8bd6c;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 50px;
}